html, body {
  height: 100%;
  margin: 0;
}

#map {
  width: 100%;
  height: 100vh; /* garante altura total */
  position: relative;
}

.map-button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10000;
  background: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.map-button:hover {
  background: #f0f0f0;
}
