body {
  margin: 5px;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 5px;
}

#map {
  height: 90vh;
  width: 100%;
  border-radius: 10px;
}
