body {
  margin: 5px;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 5px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#map {
  height: 85vh;
  width: 100%;
  border-radius: 10px;
}
