body {
  font-family: Arial, sans-serif;
  margin: 10px;
}

input, button {
  width: 100%;
  padding: 14px;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 8px;
}

button {
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0056b3;
}

#mensagens {
  min-height: 30px;
  margin-top: 5px;
  color: #333;
  font-weight: bold;
}

#map {
  height: 75vh;  /* altura otimizada para celular */
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
