body {
  font-family: Arial, sans-serif;
  margin: 6px;
  background: #f7f7f7;
}

h2 {
  text-align: center;
  font-size: 26px;
}

input, button {
  width: 100%;
  padding: 18px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

button {
  background: #007bff;
  color: #fff;
}

#mensagens {
  min-height: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#map {
  height: 80vh;
  width: 100%;
  border-radius: 12px;
}
