body {
  font-family: Arial, sans-serif;
  margin: 5px;
  background: #f7f7f7;
}

h2 {
  font-size: 22px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 18px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

button {
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
}

#mensagens {
  min-height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

#map {
  height: 80vh;
  width: 100%;
  border-radius: 10px;
}
