body, html {
  margin:0;
  padding:0;
  height:100%;
}

#map {
  width:100%;
  height:100vh;
  position: relative;
}

/* Bot천es sobre o mapa */
.map-button {
  position: absolute;
  right: 10px;
  z-index: 10000; /* alto para ficar sobre o mapa */
  background: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.map-button:hover {
  background: #f0f0f0;
}

/* Posicionamento separado dos bot천es */
#btnCentralizar {
  top: 10px;
}

#btnMarcador {
  top: 70px; /* dist창ncia do bot찾o centralizar */
}
